
SeatBlock/bin/Debug/net5.0/appsettings.Development.json
SeatBlock/bin/Debug/net5.0/appsettings.json
SeatBlock/bin/Debug/net5.0/ref/SeatBlock.dll
SeatBlock/bin/Debug/net5.0/SeatBlock.deps.json
SeatBlock/bin/Debug/net5.0/SeatBlock.dll
SeatBlock/bin/Debug/net5.0/SeatBlock.exe
SeatBlock/bin/Debug/net5.0/SeatBlock.runtimeconfig.json
SeatBlock/bin/Debug/net5.0/SeatBlock.StaticWebAssets.xml
SeatBlock/bin/Debug/net5.0/SeatBlock.Views.dll
SeatBlock/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
SeatBlock/bin/Debug/net5.0/SeatBlock.Views.pdb
SeatBlock/obj/Debug/net5.0/apphost.exe
SeatBlock/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
SeatBlock/obj/Debug/net5.0/Razor/App.razor.g.cs
SeatBlock/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
SeatBlock/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
SeatBlock/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
SeatBlock/bin/Debug/net5.0/SeatBlock.runtimeconfig.dev.json
SeatBlock/bin/Debug/net5.0/SeatBlock.pdb
SeatBlock/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
SeatBlock/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
SeatBlock/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
SeatBlock/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
SeatBlock/obj/Debug/net5.0/SeatBlock.csproj.CoreCompileInputs.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.assets.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.AssemblyInfo.cs
SeatBlock/obj/Debug/net5.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
SeatBlock/obj/Debug/net5.0/SeatBlock.csproj.CopyComplete
SeatBlock/obj/Debug/net5.0/SeatBlock.csproj.CopyComplete
SeatBlock/obj/Debug/net5.0/SeatBlock.csproj.FileListAbsolute.txt
SeatBlock/obj/Debug/net5.0/SeatBlock.csproj.FileListAbsolute.txt
SeatBlock/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
SeatBlock/obj/Debug/net5.0/SeatBlock.csprojAssemblyReference.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.dll
SeatBlock/obj/Debug/net5.0/SeatBlock.GeneratedMSBuildEditorConfig.editorconfig
SeatBlock/obj/Debug/net5.0/RazorDeclaration/SeatBlock.pdb
SeatBlock/obj/Debug/net5.0/RazorDeclaration/SeatBlock.dll
SeatBlock/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
SeatBlock/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
SeatBlock/obj/Debug/net5.0/ref/SeatBlock.dll
SeatBlock/obj/Debug/net5.0/scopedcss/bundle/SeatBlock.styles.css
SeatBlock/obj/Debug/net5.0/SeatBlock.AssemblyInfoInputs.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.genruntimeconfig.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.pdb
SeatBlock/obj/Debug/net5.0/SeatBlock.MvcApplicationPartsAssemblyInfo.cache
SeatBlock/obj/Debug/net5.0/scopedcss/projectbundle/SeatBlock.bundle.scp.css
SeatBlock/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorComponent.output.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorCoreGenerate.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorCoreGenerate.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorTargetAssemblyInfo.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorTargetAssemblyInfo.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorTargetAssemblyInfo.cs
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorAssemblyInfo.cs
SeatBlock/obj/Debug/net5.0/SeatBlock.TagHelpers.output.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.TagHelpers.output.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.Views.pdb
SeatBlock/obj/Debug/net5.0/SeatBlock.TagHelpers.input.cache
SeatBlock/obj/Debug/net5.0/staticwebassets/SeatBlock.StaticWebAssets.Manifest.cache
SeatBlock/obj/Debug/net5.0/staticwebassets/SeatBlock.StaticWebAssets.xml
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorComponent.input.cache
SeatBlock/obj/project.assets.json
SeatBlock/obj/project.nuget.cache
SeatBlock/obj/SeatBlock.csproj.nuget.dgspec.json
SeatBlock/obj/SeatBlock.csproj.nuget.g.targets
SeatBlock/obj/Debug/net5.0/SeatBlock.RazorAssemblyInfo.cache
SeatBlock/obj/Debug/net5.0/SeatBlock.Views.dll
SeatBlock/obj/SeatBlock.csproj.nuget.g.props
